.history-wrapper {
    display: flex;
    height: 100%;
}

.filter-section input[type="text"],
.filter-section input[type="date"],
.filter-section input[type="time"] {
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.event-title {
    font-weight: bold;
    margin-top: 10px;
}

.event-list {
    flex: 1;
    padding: 0px;
    overflow-y: auto;
    padding-bottom: 10px;
    min-height: 780px;
    min-width: 400px;
    background: var(--panel);
}

.event-list h1{
    padding : 20px;
    border-bottom: 1px solid #ddd;

}

.filter-section {
    margin-bottom: 0px;
    display: flex;
    flex-direction: column;
}

.event-row {
    /* background: white;
    padding: 12px 18px;
    margin-bottom: 10px;
    border-radius: 8px;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1.2fr;
    gap: 15px;
    box-shadow: 0 1px 4px #0002; */
    background-color: #c8cdc44e;
    border: 1px solid var(--accent-5);
    border-radius: 15px;
    width: 400px;
    padding: 20px;
    padding-top: 10px;
    box-shadow: 1px 4px 4px #3e3d3d66;

}

.event-row:hover{
    background-color: #f3f3f3;
}

.checkbox-row {

    display: flex;
    align-items: center;
    gap: 8px;
    margin: 4px;
    margin-left: 35%;
    width: 15px;
}

.sidebar h2 {
    margin-bottom: 15px;
}

.marginrm {
    margin-top: 0px
}

.card-history{
  background:var(--panel);
  border:1px solid var(--line);
  border-radius:var(--r-xl);
  box-shadow:var(--shadow);
  padding:16px;
  margin-top: 30px;
  margin-right: 30px;
}

.card-history h1{
    padding: 20px;
    border-bottom: 1px solid #ddd;
}

/*
div{
    text-align: center;
    margin-top: 0px;
}
*/

label {
    display: flex;
    margin: auto;
    padding: 10px;
    margin-left: 0;
}

.checkbox-row{
    margin-left: 12px;
}

#fltr{
    background-color: var(--accent-5);
}


input[type="checkbox"] {
  accent-color: var(--accent-5); /* green */

}



input[type="date"]::-webkit-calendar-picker-indicator {
  filter: invert(32%) sepia(96%) saturate(320%) hue-rotate(90deg);
  cursor: pointer;
}

input[type="time"]::-webkit-calendar-picker-indicator {
  filter: invert(32%) sepia(96%) saturate(320%) hue-rotate(90deg);
  cursor: pointer;
}
/* checkbox{
    appearance: auto;
} */