div{
    text-align: center;
    margin-top: 30px;
}

input{
    width: 250px;
    padding: 8px 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 16px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

label{
    display: block;
    margin: 0 auto 5px auto;
    font-weight: bold;
    font-size: 14px;
    width: 250px;
    text-align: left;
}


button.bg-blue-500{
    background-color: #00BF00;
    color: white;
    width: 150px;
    padding: 8px 0;
    margin: 10px auto;
    display: block;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
}

button.bg-gray-300{
    background-color: #d1d5db;
    color: black;
    width: 150px;
    padding: 8px 0;
    margin: 10px auto;
    display: block;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
}