img {
    width: 100px;
    height: auto;
    border-radius: 10px;
    margin-bottom: 20px;
}

div{
    text-align: center;
    margin-top: 30px;
}

input{
    width: 250px;
    padding: 8px 10px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 16px;
}

label{
    display: inline-block;
    width: 120px;
    text-align: right;
    margin-right: 10px;
    font-weight: bold;
}

button{
    margin-top: 15px;
    padding: 8px 16px;
    font-size: 16px;
    border: none;
    border-radius: 6px;
    background-color: var(--accent-2);
    cursor: #007bff;
    color: black;
}

button:hover{
    background-color: var(--accent);
}