@import "./css/giannisCSS/layout.css";
@import "./css/giannisCSS/sidebar.css";
@import "./css/giannisCSS/calendar.css";
@import "./css/giannisCSS/responsive.css";
@import "./css/giannisCSS/events.css";
@import "./css/giannisCSS/addevent.css";